logs/
precipstat/bot.py
precipstat/migrations/
precipstat/testtools/
readme_dev/
bin/*.*
bin/supervisor/
bin/setup/*.py
windygram/settings.py
viewer/migrations/
*/__pycache__/
static/admin/
*.pyc
.vscode/