<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> {% load static %}
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Windygram - ECMWF single point weather plot</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'sticky-footer.css' %}" rel="stylesheet">
</head>

<body>
    <main role="main" class="container-fluid">
        <div class="row" style="min-height:7vh"></div>
        <div class="row">
            <div class="col-lg-3 col-sm-1"></div>
            <div class="col-lg-6 col-sm-10">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="支持全国2443个国家站" id="inputbox">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn-plot">
                            <i class="fa fa-circle-o-notch fa-spin fa-fw" style="display:none"></i>
                            Make plot, not love
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-1 col-sm-1"></div>
            <div class="col-lg-10 col-sm-10" id="image">
                <img src='' width="100%">
                <h5 style="color:red"></h5>
            </div>
        </div>
        <br>
        <br>
    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">nasdaq@2018</span>
        </div>
    </footer>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'jquery.autocomplete.min.js' %}"></script>
    <script>
        var previous_query;

        $("#inputbox").autocomplete({
            serviceUrl: "{% url 'search' %}",
            type: 'POST',
            dataType: 'json',
            paramName: 'content',
            formatResult: function (suggestion, cv) {return suggestion.data + ' ' + suggestion.value;},
            onSelect: function (suggestion) {just_plot(suggestion.data);}
        });

        /**
        $("#inputbox").on('keypress', function (e) {
            if (e.which == 13 || e.keyCode == 13) just_plot(this.value);
        });
        **/

        $("#btn-plot").on('click', function () {
            var value = $("#inputbox").val();
            just_plot(value);
        });

        function just_plot (query) {
            if (query == '' || query == ' ' || query == undefined) return;
            if (query == previous_query) return;
            $("#image h5").text('');
            $("#btn-plot i.fa-circle-o-notch").show();
            $.post(
                "{% url 'plot' %}",
                JSON.stringify({content: query}),
                function (res) {
                    $("#btn-plot i.fa-circle-o-notch").hide();
                    if (res.status != '0') {
                        $("#image h5").text(res.message);
                        return;
                    }
                    previous_query = query;
                    $("#image img").attr('src', '');
                    $("#image img").attr('src', res.src);
                }
            )
        }

        /**
        *** CSRF Protection below
        **/

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
</body>
</html>
